#todo-container{
    padding: 0px 50px 50px 50px !important;
    max-width: 500px;
}

#input-row{
    padding: 2px;
    cursor: auto !important;
}
/*
.input-in-list{
    border: 0;
    padding-left: 20px;
}
*/

#todo-search{
    border: 0;
    padding-left: 20px !important;
}

#todo-input{
    padding-left: 20px !important;
    border-left: 0px !important;
    border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

li{
    cursor: pointer;
}

li:hover{
    opacity: 0.7;
}

button{
    background-color: rgba(255, 255, 255, 0.575);
    padding: 1px 6px 1px 6px !important;
}

#list-container{
    padding-top: 25px;
}

.hidden{
    display: none !important;
}